# Data Ingestion for Reporting Optimization

...or how to convert files into tables of a database in just __5 steps!!!__

![Image](./images/data_ingestion_banner.jpg)

---

## Step 1: Import the libraries (only 3 libraries!!!)

__[DuckDB](https://duckdb.org/)__ is a fast in-process analytical database. DuckDB supports a feature-rich SQL dialect complemented with deep integrations into client APIs. It provides a full-featured SQL engine designed for analytics and __OLAP (Online Analytical Processing)__ tasks. It can run SQL queries on large datasets efficiently.

__Tip:__ _Don't forget to install DuckDB._

In [18]:
# import libraries
#%pip install duckdb

import duckdb    

import pandas as pd
import os

import sqlite3

---

## Step 2: List your `.csv` data files and create the relative paths list

Using the `os` library we can list the filenames we want load as tables into our database. 

__Tip:__ _Remember to be clean and neat when naming the `.csv` files._

In [19]:
# List .csv filenames

dir_list = os.listdir('veronica/data/')
dir_list

['agents.csv',
 'bookings.csv',
 'customers.csv',
 'destinations.csv',
 'flights.csv',
 'hotels.csv',
 'Locations.csv',
 'payments.csv',
 'promotions.csv',
 'reviews.csv',
 'tickets.csv']

In [20]:
# Create relative paths list (i.e.: tables)

tables = [f'./veronica/data/{file}' for file in dir_list]
tables

['./veronica/data/agents.csv',
 './veronica/data/bookings.csv',
 './veronica/data/customers.csv',
 './veronica/data/destinations.csv',
 './veronica/data/flights.csv',
 './veronica/data/hotels.csv',
 './veronica/data/Locations.csv',
 './veronica/data/payments.csv',
 './veronica/data/promotions.csv',
 './veronica/data/reviews.csv',
 './veronica/data/tickets.csv']

---

## Step 3: Create the DDL queries

In SQL we have __Data Definition Language__ to define, alter, or manage the structure of database objects like tables, indexes, views, and schemas.

__Tip:__ _The code is set to work with an specific path length (i.e.: `table[20:-4]`). Bear in mind that you might need to set it for your use case._

In [21]:
# Create queries

queries = [f"CREATE OR REPLACE TABLE {table[16:-4]} AS SELECT * FROM '{table}';" for table in tables]
queries

["CREATE OR REPLACE TABLE agents AS SELECT * FROM './veronica/data/agents.csv';",
 "CREATE OR REPLACE TABLE bookings AS SELECT * FROM './veronica/data/bookings.csv';",
 "CREATE OR REPLACE TABLE customers AS SELECT * FROM './veronica/data/customers.csv';",
 "CREATE OR REPLACE TABLE destinations AS SELECT * FROM './veronica/data/destinations.csv';",
 "CREATE OR REPLACE TABLE flights AS SELECT * FROM './veronica/data/flights.csv';",
 "CREATE OR REPLACE TABLE hotels AS SELECT * FROM './veronica/data/hotels.csv';",
 "CREATE OR REPLACE TABLE Locations AS SELECT * FROM './veronica/data/Locations.csv';",
 "CREATE OR REPLACE TABLE payments AS SELECT * FROM './veronica/data/payments.csv';",
 "CREATE OR REPLACE TABLE promotions AS SELECT * FROM './veronica/data/promotions.csv';",
 "CREATE OR REPLACE TABLE reviews AS SELECT * FROM './veronica/data/reviews.csv';",
 "CREATE OR REPLACE TABLE tickets AS SELECT * FROM './veronica/data/tickets.csv';"]

---

## Step 4: Load your tables into your Database

__DuckDB__ is embedded into applications, meaning it doesn't require a separate server to run. It operates within the same process as the application using it. It can work with in-memory data for fast processing, but it also supports persistent storage for saving data to disk. In our case we're going to use the option of persisting the data in `.db` files.

__Tip:__ _Be careful where you store your `.db` files; don't lose them._

In [22]:
# Create database connection and .db file

con = duckdb.connect('dataset/prueba.db')

In [23]:
# Create tables in database and load data from .csv files

for query in range(len(queries)):
    #print(queries[query])
    con.sql(queries[query])

In [24]:
combined_query = '''
CREATE OR REPLACE TABLE customers AS
SELECT DISTINCT
    c.CustomerID,
    c.CustomerName,
    c.Gender,
   c.CustumerCountry,
    l.region AS customer_region,
    l."sub-region" AS customer_sub_region
FROM 
    (
        SELECT 
            CustomerID,
            Name AS CustomerName,
            Email,
            Phone,
            Gender,
            CustumerCountry
        FROM 
            customers
    ) c
INNER JOIN 
    Locations l ON c.CustumerCountry = l.Country;
'''

# Ejecutar la consulta
con.execute(combined_query)

In [25]:
combined_query = '''
CREATE OR REPLACE TABLE destinations AS
SELECT 
    d.DestinationID,
    MAX(d.DestinationName) AS DestinationName,
    MAX(d.DestinationCountry) AS DestinationCountry,
    MAX(d.PopularAttractionType) AS PopularAttractionType,
    MAX(l.region) AS destination_region,
    MAX(l."sub-region") AS destination_sub_region
FROM (
    SELECT 
        DestinationID,
        Name AS DestinationName,
        Country AS DestinationCountry,
        PopularAttractionType
    FROM 
        destinations
) d
INNER JOIN 
    Locations l ON d.DestinationCountry = l.Country
GROUP BY
    d.DestinationID, d.DestinationName;
'''

# Ejecutar la consulta
con.execute(combined_query)

In [26]:
query = '''
ALTER TABLE flights
RENAME COLUMN Price TO FlightPrice;
'''

# Ejecutar la consulta
con.sql(query)

In [27]:
query = '''
ALTER TABLE hotels
RENAME COLUMN Name TO HotelName;
'''

# Ejecutar la consulta
con.sql(query)

In [28]:
query = '''
ALTER TABLE reviews
RENAME COLUMN Rating TO ReviewRating;
'''

# Ejecutar la consulta
con.sql(query)

In [29]:
con.sql('select * from destinationS')

┌───────────────┬──────────────────────┬──────────────────────┬───┬────────────────────┬──────────────────────┐
│ DestinationID │   DestinationName    │  DestinationCountry  │ … │ destination_region │ destination_sub_re…  │
│     int64     │       varchar        │       varchar        │   │      varchar       │       varchar        │
├───────────────┼──────────────────────┼──────────────────────┼───┼────────────────────┼──────────────────────┤
│             3 │ West Charles         │ Falkland Islands (…  │ … │ Americas           │ South America and …  │
│             7 │ North Tiffanyborough │ Ghana                │ … │ Africa             │ Sub-Saharan Africa   │
│            12 │ Laneview             │ Malawi               │ … │ Africa             │ Sub-Saharan Africa   │
│            14 │ Jenkinsfurt          │ Cameroon             │ … │ Africa             │ Sub-Saharan Africa   │
│            30 │ Mullinsburgh         │ Saint Pierre and M…  │ … │ Americas           │ South America and …  │
│            38 │ Lake Ryanside        │ Iraq                 │ … │ Asia               │ Western Asia         │
│            88 │ Colefort             │ Uzbekistan           │ … │ Asia               │ Central Asia         │
│           101 │ Mariemouth           │ Western Sahara       │ … │ Africa             │ Northern Africa      │
│           112 │ Pittsport            │ Singapore            │ … │ Asia               │ South-eastern Asia   │
│           113 │ West David           │ Solomon Islands      │ … │ Oceania            │ Micronesia           │
│            ·  │     ·                │     ·                │ · │    ·               │     ·                │
│            ·  │     ·                │     ·                │ · │    ·               │     ·                │
│            ·  │     ·                │     ·                │ · │    ·               │     ·                │
│           461 │ New Brianbury        │ Nicaragua            │ … │ Americas           │ South America and …  │
│           470 │ East Dana            │ Liberia              │ … │ Africa             │ Sub-Saharan Africa   │
│           473 │ Juliaside            │ Madagascar           │ … │ Africa             │ Sub-Saharan Africa   │
│           477 │ Christopherchester   │ Fiji                 │ … │ Oceania            │ Micronesia           │
│           481 │ West Theresaton      │ Togo                 │ … │ Africa             │ Sub-Saharan Africa   │
│           484 │ Lake Kelsey          │ Tonga                │ … │ Oceania            │ Polynesia            │
│           496 │ Kaylatown            │ Dominica             │ … │ Americas           │ South America and …  │
│           362 │ Andrewchester        │ Equatorial Guinea    │ … │ Africa             │ Sub-Saharan Africa   │
│           417 │ East Wendy           │ Romania              │ … │ Europe             │ Eastern Europe       │
│           106 │ Fuentesstad          │ Thailand             │ … │ Asia               │ South-eastern Asia   │
├───────────────┴──────────────────────┴──────────────────────┴───┴────────────────────┴──────────────────────┤
│ 500 rows (20 shown)                                                                     6 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [30]:
con.sql('DESCRIBE customers')

┌─────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│     column_name     │ column_type │  null   │   key   │ default │  extra  │
│       varchar       │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ CustomerID          │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ CustomerName        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Gender              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ CustumerCountry     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ customer_region     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ customer_sub_region │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
└─────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [31]:
consulta_sql = '''CREATE OR REPLACE TABLE TOTAL AS
SELECT 
    b.BookingID,
    b.CustomerID,
    b.AgentID,
    b.DestinationID,
    b.HotelID,
    b.FlightID,
    b.BookingDate,
    p.PaymentID,
    p.Amount,
    p.PaymentDate,
    p.PaymentMethod,
    f.Airline,
    f.Origin,
    f.Destination,
    f.DepartureTime,
    f.ArrivalTime,
    f.FlightPrice,
    d.DestinationName,
    d.DestinationCountry,
    d.PopularAttractionType,
    d.Destination_region,
    d.Destination_sub_region,
    c.CustomerName,
    c.Gender,
    c.CustumerCountry,
    c.Customer_region,
    c.Customer_sub_region,
    h.HotelName,
    h.Rating,
    h.PricePerNight,
    h.HotelCountry,
    EXTRACT(MONTH FROM f.DepartureTime) AS Months,
    (p.Amount + f.FlightPrice) AS total_cost,
    EXTRACT(DAY FROM (f.DepartureTime - b.BookingDate)) AS Subtraction,
    r.ReviewRating
FROM 
    bookings b
INNER JOIN 
    payments p ON b.BookingID = p.BookingID
INNER JOIN 
    flights f ON b.FlightID = f.FlightID
INNER JOIN 
    destinations d ON b.DestinationID = d.DestinationID
INNER JOIN 
    customers c ON b.CustomerID = c.CustomerID
INNER JOIN 
    hotels h ON b.HotelID = h.HotelID
LEFT JOIN 
    reviews r ON b.BookingID = r.BookingID;
    '''

# Ejecutar la consulta final
con.execute(consulta_sql)

In [32]:
con.sql('select * from TOTAL')

┌───────────┬────────────┬─────────┬───────────────┬───┬────────┬────────────────────┬─────────────┬──────────────┐
│ BookingID │ CustomerID │ AgentID │ DestinationID │ … │ Months │     total_cost     │ Subtraction │ ReviewRating │
│   int64   │   int64    │  int64  │     int64     │   │ int64  │       double       │    int64    │    int64     │
├───────────┼────────────┼─────────┼───────────────┼───┼────────┼────────────────────┼─────────────┼──────────────┤
│      3483 │       1671 │      61 │           117 │ … │      2 │ 1519.4102675341314 │         131 │            3 │
│     29742 │       5956 │      71 │           385 │ … │      2 │  803.6855209147667 │         -73 │            1 │
│     29006 │       4357 │      51 │           236 │ … │      4 │ 1179.9278205160465 │         275 │            4 │
│     17357 │       5402 │      47 │           290 │ … │      3 │ 1741.6942954983103 │         660 │            4 │
│      7739 │       5912 │      43 │           160 │ … │      5 │ 1510.5077508619956 │         723 │            2 │
│      7876 │       4134 │      15 │           326 │ … │      3 │ 2039.7387447485758 │         270 │            2 │
│      4950 │       4376 │      86 │           319 │ … │      1 │ 1518.3674489026469 │         164 │            4 │
│      6829 │       9678 │      83 │           376 │ … │      2 │ 1144.1128005155842 │         564 │            2 │
│     16484 │       9642 │      76 │           252 │ … │      3 │  706.8714997060584 │         648 │            3 │
│     18900 │       6850 │      37 │           434 │ … │      4 │ 1599.6224806979974 │         506 │            4 │
│       ·   │         ·  │       · │             · │ · │      · │          ·         │           · │            · │
│       ·   │         ·  │       · │             · │ · │      · │          ·         │           · │            · │
│       ·   │         ·  │       · │             · │ · │      · │          ·         │           · │            · │
│     21857 │        945 │      95 │            86 │ … │      4 │  884.3088577964411 │          22 │            3 │
│     24650 │       4749 │      61 │           235 │ … │      3 │ 1341.1608169900333 │         194 │            3 │
│     21312 │       2680 │      30 │           138 │ … │      2 │  2082.961169196275 │         587 │            1 │
│      3248 │       7870 │      33 │           388 │ … │      1 │   838.496739190941 │         624 │            2 │
│      9108 │       9292 │      15 │            92 │ … │      3 │  1670.235578213448 │         679 │            3 │
│     16450 │       5492 │      45 │             8 │ … │      1 │  938.1354046715494 │         431 │            3 │
│      2029 │       5232 │      98 │           243 │ … │      3 │  886.2956451776613 │         283 │            4 │
│     25313 │       6566 │       8 │           389 │ … │      4 │  852.1999667502043 │         359 │            3 │
│     24595 │       6997 │      88 │            50 │ … │      2 │ 1130.9586010725607 │         310 │            1 │
│     12922 │       5666 │      69 │           417 │ … │      4 │ 1270.8144591523355 │         330 │            2 │
├───────────┴────────────┴─────────┴───────────────┴───┴────────┴────────────────────┴─────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                              35 columns (8 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [33]:
# Close the connection explicitly

con.close()